*{
    border: 1px solid black;
    margin: 5%;
    text-align: center;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
  }
.grid-item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.grid-item2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.grid-item3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.grid-item4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

h1 {
    background-color: turquoise;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    background-color: darkcyan;
    font-weight: 200;
}

body{
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: large;
}

.whiteText {
    color: white;
}

.bigOlTitle{
    color: rgb(103, 0, 53);
    margin-top: 10% ;
}

.ordered{
    color: lightpink
}
.unordered{
    color: lightgreen
}

#main-heading {
    background-color: rgb(164, 71, 116);
}

#sadClown {
    border-radius: 25%;
    padding: 1%;
    width: 100px;
    height: 100px;
    background-color: darkslateblue;
}

#frankMan {
    width: 250px;
    height: 150px;
    padding-left: 1%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 4%;
    border-radius: 50%;
    background-color: gold;
    margin-bottom: 15%;
    margin-left: 15%;
}

#portfolioLink {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:larger;
}

#linkedInLink {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:larger;
}